@model IEnumerable<Bevera.ViewComponents.CategoriesMenuViewComponent.CategoryMenuItem>

<div class="mega-grid">
    @foreach (var c in Model)
    {
        <a class="mega-link"
           asp-controller="Client"
           asp-action="Category"
           asp-route-id="@c.Id">
            @c.Name
        </a>
    }
</div>
