@{
    ViewData["Title"] = "Cart";
}
<div class="container py-4">
    <h2 class="mb-3">Количка</h2>
    <div class="alert alert-warning">
        Тук ще бъде количката + поръчката към работник.
    </div>
</div>
