@model List<Bevera.Models.Favorite>
@{
    ViewData["Title"] = "Favorites";
}
<div class="container py-4">
    <h2 class="mb-3">Любими</h2>
    <div class="alert alert-warning">
        Тук ще показваме всички запазени продукти (сърчицето).
    </div>
</div>
